@charset "utf-8";
/* CSS Document */

@media only screen and (max-width: 800px) {
  .mob {
    display: block;
  }

  .desk {
    display: none !important;
  }

  header .menu_mob {
    width: 70px;
  }

  header .menu_mob img {
    height: 75px;
    width: auto;
  }

  header .wa {
    width: 30%;
  }

  header .menu nav {
    width: 100%;
    height: calc(100% - 85px);
    margin: 50px 0px 0px 0px;
    position: fixed;
    left: -100%;
    background-color: #fffffff7;
    overflow: scroll;
    z-index: 10;
  }

  header .menu nav ul {
    display: flex;
    flex-direction: column;
  }

  header .menu nav ul li {
    display: block;
    border-bottom: 1px solid #2c2c2c;
    padding: 17px;
  }

  header .menu nav ul li:hover .children {
    display: none;
  }
  header .menu nav ul li .children {
    width: 100%;
    position: relative;
  }

  header .menu nav ul li .children li {
    border-bottom: none;
  }

  header .menu nav ul li .children li a {
    margin-left: 20px;
  }

  .contenedor .bloque_banner {
    flex-direction: column;
  }

  .contenedor .bloque_banner .banners {
    width: 100%;
  }

  .contenedor h1 {
    font-size: 1.6rem;
  }

  .contenedor .vender .articulo {
    flex-direction: column;
  }

  .contenedor .vender .articulo .foto {
    width: 100%;
    padding: 0px 20px;
  }

  .contenedor .vender .articulo .texto {
    width: 100%;
    padding: 20px;
  }

  .contenedor .caracteristicas_serv {
    flex-direction: column;
  }

  .contenedor .caracteristicas_serv .car_serv {
    width: 100%;
    padding: 20px;
  }

  .contenedor .planes_serv .plan {
    width: 100%;
  }
}
