@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2"),
    url("../fonts/CenturyGothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic-BoldItalic.woff2") format("woff2"),
    url("../fonts/CenturyGothic-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic.woff2") format("woff2"),
    url("../fonts/CenturyGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/CenturyGothic-Italic.woff2") format("woff2"),
    url("../fonts/CenturyGothic-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

.mob {
  display: none;
}

.desk {
  display: block;
}

.azul {
  color: #0f2f80;
}

.celeste {
  color: #2979b1;
}

.verde {
  color: #00986e;
}

.bold {
  font-weight: bold;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%; /*base 10*/
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  font-size: 1.4rem;
  font-family: "Century Gothic";
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  box-shadow: 1px 1px 10px -5px rgb(0 0 0);
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header .logo {
  width: 150px;
}

header .logo img {
  height: 75px;
  width: auto;
}

header .menu {
  width: calc(75% - 150px);
}

header .menu img {
  width: 10px;
}

header .menu nav ul {
  display: flex;
}

header .menu nav ul li {
  padding: 15px;
}

header .menu nav ul li a {
  font-size: 1.4rem;
  color: #2979b1;
  text-decoration: none;
  font-weight: bold;
}

header .menu nav ul li:hover .children {
  display: block;
}

header .menu nav ul li .children {
  display: none;
  background: #f7f7f7;
  position: absolute;
  margin: 10px 0px;
  padding: 5px 15px;
  z-index: 10;
  border-radius: 0px 0px 10px 10px;
}

header .menu nav ul li .children li {
  display: block;
  padding: 8px;
}

header .menu nav ul li .children li a {
  font-size: 13px;
  color: #2979b1;
  text-decoration: none;
  padding-left: 0px;
  font-weight: normal;
}

header .menu nav ul li .children a:hover {
  color: #ffffff;
  text-decoration: none;
}

header .menu nav ul li .children li:hover {
  background-color: #2979b1;
}

header .wa {
  width: 25%;
  text-align: end;
  font-weight: bold;
}

header .wa .numero {
  padding: 15px;
  font-size: 1.7rem;
}

header .wa .numero a {
  color: #d00a50;
  text-decoration: none;
}

.contenedor {
  flex: 1;
  width: 100%;
  margin-top: 100px;
}

.contenedor .bloque_banner {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
}

.contenedor .bloque_banner .banners {
  width: calc(100% - 300px);
}

.contenedor .bloque_banner .banners img {
  width: 100%;
  height: auto;
}

.contenedor .bloque_banner .formulario {
  width: 300px;
  padding: 15px;
  font-size: 1.2rem;
}

.contenedor .bloque_banner .formulario .texto {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
}

.contenedor .bloque_banner .formulario .dato {
  width: 100%;
  text-align: center;
}

.contenedor .bloque_banner .formulario .dato input {
  margin: 4px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  padding: 4px;
  width: 75%;
  max-width: 330px;
}

.contenedor .bloque_banner .formulario .dato textarea {
  resize: none;
  margin: 4px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  padding: 3px;
  width: 75%;
  max-width: 330px;
}

.contenedor .bloque_banner .formulario .checkbox {
  width: 75%;
  margin: auto;
  padding: 0px;
}

.contenedor .bloque_banner .formulario .checkbox .reclame {
  color: #d3255c;
}

.contenedor .bloque_banner .formulario .check {
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 5px;
  display: flex;
}

.contenedor .bloque_banner .formulario button {
  padding: 7px;
  border-radius: 4px;
  border: 0px;
  width: 64%;
  color: #fff;
  font-size: 20px;
  background-color: #f8a026;
  cursor: pointer;
  max-width: 330px;
}

.contenedor h1 {
  text-align: center;
  font-size: 2.6rem;
  padding: 14px 0;
  color: #2f337f;
}

.contenedor h2 {
  text-align: center;
  font-size: 2.4rem;
  padding: 14px 0;
  color: #2f337f;
  margin-top: 20px;
}

.contenedor .vender {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.contenedor .vender .articulo {
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
}

.contenedor .vender .articulo .foto {
  width: 50%;
  padding: 0px 20px;
}

.contenedor .vender .articulo .texto {
  width: 50%;
  padding: 20px;
}

.contenedor .vender .articulo .texto .titulo {
  text-align: center;
  color: #0f2f80;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.contenedor .vender .articulo .texto .subtitulo {
  text-align: center;
  color: #2cae93;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contenedor .vender .articulo .texto .cont {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.contenedor .banner_sec {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 30px;
}

.contenedor .banner_sec img {
  padding: 10px 15px;
}

.contenedor .presentacion_serv {
  width: 100%;
}

.contenedor .presentacion_serv .titulo_serv {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #d00a50;
  font-weight: bold;
}

.contenedor .presentacion_serv .parrafo_serv {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 0px 36px;
}

.contenedor .presentacion_serv .parrafo_serv p {
  padding: 5px;
  font-size: 15px;
}

.contenedor .caracteristicas_serv {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 10px;
  display: flex;
}

.contenedor .caracteristicas_serv .car_serv {
  width: 33%;
  padding: 20px;
}

.contenedor .caracteristicas_serv .car_serv .img_serv_car {
  text-align: center;
}

.contenedor .caracteristicas_serv .car_serv .img_serv_car img {
  width: 80px;
}

.contenedor .caracteristicas_serv .car_serv .tit_serv_car {
  text-align: center;
  padding: 12px;
  color: #2979b1;
  font-size: 17px;
}

.contenedor .caracteristicas_serv .car_serv .parr_serv_car {
  text-align: center;
  padding: 10px;
}

.contenedor .caracteristicas_serv .car_serv .parr_serv_car p {
  font-size: 12px;
}

.contenedor .planes_serv {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.contenedor .planes_serv .titulo_planes {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #ea6b3f;
  font-weight: bold;
}

.contenedor .planes_serv .plan {
  display: inline-grid;
  width: 49%;
  padding: 10px;
}

.contenedor .planes_serv .plan .linea_naranja {
  border: 1px solid #dd7d00;
}

.contenedor .planes_serv .plan .linea_rojo {
  border: 1px solid #d00a50;
}

.contenedor .planes_serv .plan .marco_plan .back_naranja {
  background-color: #dd7d00;
}

.contenedor .planes_serv .plan .marco_plan .back_rojo {
  background-color: #d00a50;
}

.contenedor .planes_serv .plan .marco_plan {
  border-radius: 21px;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 10px auto;
}

.contenedor .planes_serv .plan .marco_plan .titulo_plan {
  text-align: center;
  font-size: 19px;
  padding: 14px;
  border-radius: 20px 20px 0px 0px;
  color: #ffffff;
  font-weight: bold;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan {
  width: 100%;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan .centrado {
  text-align: center;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan ul {
  padding: 0px;
  list-style-position: inside;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan ul li {
  font-size: 13px;
  padding: 5px 5px 5px 10px;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan ul li.li_naranja {
  border-bottom: 1px solid #dd7d00;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan ul li.li_rojo {
  border-bottom: 1px solid #d00a50;
}

.contenedor .planes_serv .plan .marco_plan .lista_plan ul li.vacio {
  list-style: none;
}

.contenedor .planes_serv .plan .marco_plan .precio_plan {
  width: 100%;
  text-align: center;
}

.contenedor .planes_serv .plan .marco_plan .lt_naranja {
  color: #dd7d00;
}

.contenedor .planes_serv .plan .marco_plan .lt_roja {
  color: #d00a50;
}

.contenedor .planes_serv .plan .marco_plan .precio_plan .preciop {
  font-size: 50px;
  font-weight: bold;
}

.contenedor .planes_serv .plan .marco_plan .arreglo {
  font-size: 30px;
}

.contenedor .planes_serv .plan .marco_plan .precio_plan .mensp {
  font-size: 17px;
  padding: 0px 0px 4px 0px;
  font-weight: bold;
}

.contenedor .planes_serv .plan .suscribirsep {
  text-align: center;
  padding: 10px;
}

.contenedor .planes_serv .plan .suscribirsep a {
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  background: #e7e7e7;
  padding: 6px;
  border-radius: 5px;
}

.contenedor .caracteristicas {
  width: 100%;
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}

.contenedor .caracteristicas .caracteristica {
  width: 33%;
  padding: 30px;
}

.contenedor .caracteristicas .caracteristica .imagen {
  height: 80px;
  text-align: center;
}

.contenedor .caracteristicas .caracteristica .imagen img {
  height: 100%;
  width: auto;
}

.contenedor .caracteristicas .caracteristica .titulo {
  font-size: 16px;
  text-align: center;
}

.contenedor .caracteristicas .caracteristica .contenido {
  font-size: 14px;
  padding: 10px;
}

.contenedor .caracteristicas .link {
  text-align: center;
}

.contenedor .caracteristicas .caracteristica a {
  text-decoration: none;
  font-size: 12px;
  color: #00986e;
}

.contenedor .articulo {
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
  margin-top: 5px;
}

.contenedor .articulo .titulo_gen {
  text-align: center;
  font-size: 22px;
  color: #2879b2;
  padding: 0px 20px 20px 20px;
  font-weight: bold;
}

.contenedor .articulo .foto {
  width: 100%;
}

.contenedor .articulo .texto {
  width: 100%;
}

.contenedor .articulo .texto .cont {
  font-size: 16px;
}

.contenedor .youtube {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.contenedor .titulo_pagina {
  font-size: 21px;
  font-weight: bold;
  padding: 20px 0px 15px 14px;
  color: #2f337f;
  text-align: center;
}

.contenedor .solo_texto {
  padding: 20px;
  font-size: 14px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.contenedor .solo_texto p {
  padding: 5px 0px;
}

.contenedor .solo_texto .int {
  padding: 0px 17px;
}

.contenedor .solo_texto .tit {
  padding: 10px 20px;
}

.contenedor .solo_texto .procon {
  font-size: 12px;
  padding: 0px 20px;
  color: #fc4e51;
}

.contenedor .solo_texto .resumen {
  font-size: 14px;
  padding: 0px;
  color: #1d1d1d;
}

.contenedor .solo_texto .titulo {
  font-size: 18px;
  padding: 8px;
  color: #d3255c;
  font-weight: bold;
}

.contenedor .paquetes {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contenedor .paquetes .paquete {
  width: 33%;
  padding: 30px;
  box-sizing: border-box;
}

.contenedor .paquetes .paquete .titulo {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 32px;
  border-radius: 5px;
}

.contenedor .paquetes .paquete .contenido {
  font-size: 14px;
}

.contenedor .paquetes .paquete .contenido ul {
  padding: 10px 30px;
}

.contenedor .paquetes .paquete .contenido ul li {
  padding: 5px 0px;
}

.contenedor .paquetes .paquete .precio {
  font-size: 20px;
  text-align: center;
}

.contenedor .paquetes .paquete p {
  font-size: 12px;
  text-align: center;
}

.contenedor .paquetes .paquete .bazul {
  background-color: #0f2f80;
}

.contenedor .paquetes .paquete .bceleste {
  background-color: #2979b1;
}

.contenedor .paquetes .paquete .bverde {
  background-color: #00986e;
}

.contenedor .paquetes .datos {
  width: 100%;
}

.contenedor .paquetes .datos .texto {
  padding: 0px 25px;
}

.contenedor .paquetes .datos ul {
  padding: 25px;
}

.contenedor .paquetes .datos ul li {
  padding: 5px 0px;
}

.contenedor .espera {
  padding: 24px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

/*/--------footer---------------------------------------------*/

footer {
  width: 100%;
  background-color: #2879b2;
}

footer .datos {
  padding: 35px 50px;
}

footer .datos p {
  font-size: 1.4rem;
  margin-bottom: 13px;
  color: #ffffff;
}
